/* citation.css */
.citation-readout {
  position: fixed;
  right: 0.7%;
  bottom: 30px;

  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.28);
  color: #ffffff;

  border-radius: 8px;
  font-size: 10px !important;
  line-height: 1.25;

  z-index: 2;
  backdrop-filter: blur(3px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

/* Hide on mobile */
@media (max-width: 915px) {
  .citation-readout {
    display: none !important;
  }
}
